* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "PT Sans", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.swiper-wrapper {
	margin-bottom: 30px;
}

.custom-swiper-prev,
.custom-swiper-next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 40px;
	height: 40px;
	background: white;
	border-radius: 50%;
	box-shadow: 0 0 15px rgba(56, 119, 238, 0.1);
	z-index: 10;
	cursor: pointer;
	transition: all 0.3s;
}

.swiper-button-disabled {
	opacity: 0;
}

.custom-swiper-prev {
	left: -57px;
}

.custom-swiper-next {
	right: -57px;
}

.custom-swiper-next::after,
.custom-swiper-prev::after {
	content: "";
	position: absolute;
	top: 50%;
	width: 7.5px;
	height: 7.5px;
	border: 2px solid rgba(56, 119, 238, 1);
	border-bottom: transparent;
	border-right: transparent;
}

.custom-swiper-next::after {
	transform: translate(150%, -50%) rotate(135deg);
}

.custom-swiper-prev::after {
	transform: translate(175%, -50%) rotate(-45deg);
}

@media (max-width: 1440px) {
	.sc-bRKDuR.container {
		min-height: 700px;
		&::before {
			top: 45%;
		}
	}

	.kgISHx.title__container {
		padding-top: 40px;

		.title__item {
			font-size: 42px;
		}

		.title__line {
			margin-right: 60px;
		}
	}

	.eSSKxn.circle {
		width: 400px;
		height: 400px;
	}

	.fusBLo.years__container {
		top: 45%;
	}

	.jYWhnb.years__item {
		font-size: 140px;
	}

	.bOakSB.navigator__container {
		top: 40%;
	}

	.iQRfrY.events__container {
		top: 47%;
	}
}
